@model Org.Ktu.Isk.P175B602.Autonuoma.Models.ModelisReport.Report

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Modelių ataskaita"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
</div>

@* content itself *@
<div class="main-content-rep">
@using( Html.BeginForm(FormMethod.Get, new { @class="rep" }) )
{
	<p><strong>Parengta:</strong> @String.Format("{0:yyyy-MM-dd HH:mm}", DateTime.Now)</p>
	@* filter section *@
	<div class="filter">
		<div class="fields">
			<div class="field">
				<label>Markė:</label>
				@Html.EditorFor(m => m.MarkeFiltr)
				@Html.ValidationMessageFor(m => m.MarkeFiltr, "")

			</div>
			<div class="field">
				<label>Dėžės tipas:</label>
				@Html.DropDownListFor(m => m.DezesTipasFiltr, new SelectList(new[] { "Mechaninė", "Automatinė" }), "Pasirinkite tipą", new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DezesTipasFiltr, "")
			</div>
			<div class="field">
				<label>Pagaminta nuo:</label>
				@Html.TextBoxFor(m => m.DateFrom, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
			</div>
		</div>

		<div class="buttons">
			<button class="btn btn-success"><i class="fa-solid fa-filter"></i> Atrinkti</button>
		</div>
	</div>

	@* report data *@
	<table class="report">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(m => m.Modeliai[0].DezesTipas)</th>
				<th>@Html.DisplayNameFor(m => m.Modeliai[0].VinKodas)</th>
				<th>@Html.DisplayNameFor(m => m.Modeliai[0].PagaminimoData)</th>
			</tr>
		</thead>
		<tbody>
			@if( Model.Modeliai.Count == 0 )
			{
				@* no data message *@
				<tr class="no-data-msg">
					<td colspan="4" align="center">Nurodytiems filtrams nėra tinkamų įrašų</td>
				</tr>
			}
			else 
			{
				@* groups *@
				@for( int i = 0; i < Model.Modeliai.Count; i++ )
				{
					@* group header *@
					if( i == 0 || Model.Modeliai[i].ModelioPav != Model.Modeliai[i-1].ModelioPav )
					{
						<tr class="group-header">
							<td 
								colspan="4" 
								align="center"
							>
									<b>@Html.DisplayFor(m => Model.Modeliai[i].MarkesPav) @Html.DisplayFor(m => Model.Modeliai[i].ModelioPav), išleistas @Html.DisplayFor(m => Model.Modeliai[i].ModelisMetai) metais</b>
							</td>
						</tr>
					}

					@* group content *@
					<tr>
						<td>#@Html.DisplayFor(m => Model.Modeliai[i].DezesTipas)</td>
						<td>@Html.DisplayFor(m => Model.Modeliai[i].VinKodas)</td>
						<td>@Html.DisplayFor(m => Model.Modeliai[i].PagaminimoData)</td>
					</tr>
				}
				@* grand total *@
				<tr class="grand-total-header">
					<td colspan="7" align="center"><b>Bendras automobilių skaičius</b></td>
				</tr>

				<tr>
					<td colspan="6" align="center"></td>
					<td>
						@Html.DisplayFor(m => Model.VisoAutomobiliuKiekis)
					</td>
				</tr>
			}
		</tbody>
	</table>
}
</div>